.App {
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
  padding: 20px;
}

.products,
.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}

.product,
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rrr {
  display: flex;
  flex-direction: row;
}

.quantity-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.progress-bar {
  height: 20px;
  background: #eee;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: green;
  transition: width 0.3s;
}

.gift-msg {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.shopping-heading {
  color: #2c8dc9;
}
.sisindri {
  background-color: #0693e3;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.plus-minus {
  border: 0px;
  outline: none;
}
.cart-items {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  width: 650px;
  flex-wrap: wrap;
}
.red {
  background-color: red;
  margin-right: 5px;
  border: 0px;
  border-radius: 4px;
}
.green {
  background-color: green;
  margin-right: 5px;
  border: 0px;
  border-radius: 4px;
}
